<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>@MMK_L_A</key>
    <dict>
      <key>@MMK_R_emdash</key>
      <integer>-90</integer>
    </dict>
    <key>@MMK_L_B</key>
    <dict>
      <key>@MMK_R_emdash</key>
      <integer>20</integer>
    </dict>
    <key>@MMK_L_C</key>
    <dict>
      <key>@MMK_R_emdash</key>
      <integer>-60</integer>
    </dict>
    <key>@MMK_L_F</key>
    <dict>
      <key>@MMK_R_emdash</key>
      <integer>-100</integer>
    </dict>
    <key>@MMK_L_H</key>
    <dict>
      <key>@MMK_R_emdash</key>
      <integer>-80</integer>
    </dict>
    <key>@MMK_L_I</key>
    <dict>
      <key>@MMK_R_emdash</key>
      <integer>-50</integer>
    </dict>
    <key>@MMK_L_J</key>
    <dict>
      <key>@MMK_R_emdash</key>
      <integer>-80</integer>
    </dict>
    <key>@MMK_L_K</key>
    <dict>
      <key>@MMK_R_emdash</key>
      <integer>-160</integer>
    </dict>
    <key>@MMK_L_L</key>
    <dict>
      <key>@MMK_R_emdash</key>
      <integer>-40</integer>
    </dict>
    <key>@MMK_L_M</key>
    <dict>
      <key>@MMK_R_emdash</key>
      <integer>-70</integer>
    </dict>
    <key>@MMK_L_N</key>
    <dict>
      <key>@MMK_R_emdash</key>
      <integer>-80</integer>
    </dict>
    <key>@MMK_L_T</key>
    <dict>
      <key>@MMK_R_a</key>
      <integer>-130</integer>
      <key>@MMK_R_c</key>
      <integer>-90</integer>
      <key>@MMK_R_emdash</key>
      <integer>-160</integer>
    </dict>
    <key>@MMK_L_V</key>
    <dict>
      <key>@MMK_R_emdash</key>
      <integer>-70</integer>
    </dict>
    <key>@MMK_L_X</key>
    <dict>
      <key>@MMK_R_emdash</key>
      <integer>-100</integer>
    </dict>
    <key>@MMK_L_Y</key>
    <dict>
      <key>@MMK_R_emdash</key>
      <integer>-160</integer>
    </dict>
    <key>@MMK_L_Z</key>
    <dict>
      <key>@MMK_R_emdash</key>
      <integer>-90</integer>
    </dict>
    <key>@MMK_L_a</key>
    <dict>
      <key>@MMK_R_T</key>
      <integer>-80</integer>
    </dict>
    <key>@MMK_L_comma</key>
    <dict>
      <key>@MMK_R_c</key>
      <integer>-110</integer>
    </dict>
    <key>@MMK_L_period</key>
    <dict>
      <key>@MMK_R_c</key>
      <integer>-130</integer>
    </dict>
    <key>@MMK_L_quotedblleft</key>
    <dict>
      <key>@MMK_R_c</key>
      <integer>-60</integer>
    </dict>
    <key>@MMK_L_quoteleft</key>
    <dict>
      <key>@MMK_R_c</key>
      <integer>-40</integer>
    </dict>
    <key>@MMK_L_quoteright</key>
    <dict>
      <key>@MMK_R_c</key>
      <integer>-110</integer>
    </dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <integer>-80</integer>
      <key>V</key>
      <integer>-100</integer>
      <key>W</key>
      <integer>-100</integer>
      <key>quotedblright</key>
      <integer>-120</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>quotedblright</key>
      <integer>-270</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>quotedblright</key>
      <integer>-130</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-80</integer>
      <key>comma</key>
      <integer>-120</integer>
      <key>o</key>
      <integer>-90</integer>
      <key>period</key>
      <integer>-110</integer>
      <key>quotedblright</key>
      <integer>40</integer>
      <key>quoteright</key>
      <integer>50</integer>
      <key>y</key>
      <integer>-30</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-100</integer>
      <key>comma</key>
      <integer>-130</integer>
      <key>period</key>
      <integer>-100</integer>
      <key>quotedblright</key>
      <integer>60</integer>
      <key>quoteright</key>
      <integer>40</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-100</integer>
      <key>comma</key>
      <integer>-170</integer>
      <key>period</key>
      <integer>-160</integer>
      <key>quotedblright</key>
      <integer>60</integer>
      <key>quoteright</key>
      <integer>50</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>quoteright</key>
      <integer>20</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>comma</key>
      <integer>-180</integer>
      <key>quotedblright</key>
      <integer>80</integer>
      <key>quoteright</key>
      <integer>40</integer>
    </dict>
    <key>comma</key>
    <dict>
      <key>quotedblright</key>
      <integer>-130</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>T</key>
      <integer>-80</integer>
      <key>quotedblright</key>
      <integer>-30</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>quotedblright</key>
      <integer>180</integer>
      <key>quoteright</key>
      <integer>160</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>seven</key>
      <integer>-60</integer>
    </dict>
    <key>hyphen</key>
    <dict>
      <key>Y</key>
      <integer>-100</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>quotedblright</key>
      <integer>-90</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>T</key>
      <integer>-60</integer>
      <key>quoteright</key>
      <integer>-80</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>quotedblright</key>
      <integer>-150</integer>
    </dict>
    <key>quotedblleft</key>
    <dict>
      <key>A</key>
      <integer>-130</integer>
      <key>C</key>
      <integer>-30</integer>
      <key>G</key>
      <integer>-70</integer>
      <key>O</key>
      <integer>-40</integer>
      <key>S</key>
      <integer>-30</integer>
      <key>T</key>
      <integer>30</integer>
      <key>V</key>
      <integer>60</integer>
      <key>W</key>
      <integer>60</integer>
      <key>Y</key>
      <integer>80</integer>
      <key>c</key>
      <integer>-90</integer>
      <key>e</key>
      <integer>-60</integer>
      <key>g</key>
      <integer>-60</integer>
      <key>o</key>
      <integer>-120</integer>
    </dict>
    <key>quoteleft</key>
    <dict>
      <key>C</key>
      <integer>-40</integer>
      <key>G</key>
      <integer>-30</integer>
      <key>T</key>
      <integer>30</integer>
      <key>V</key>
      <integer>30</integer>
      <key>W</key>
      <integer>40</integer>
      <key>X</key>
      <integer>20</integer>
      <key>Y</key>
      <integer>30</integer>
      <key>o</key>
      <integer>-90</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>eight</key>
      <integer>-20</integer>
      <key>four</key>
      <integer>-80</integer>
      <key>six</key>
      <integer>-60</integer>
      <key>two</key>
      <integer>-40</integer>
      <key>zero</key>
      <integer>-30</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>seven</key>
      <integer>-40</integer>
    </dict>
  </dict>
</plist>
